# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env

# Keep yarn files
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# But ignore these yarn files
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
